@import '~antd/dist/antd.css';

.questionCard {
    text-align: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.question{
    font-family: Courier;
    font-weight: bold;
    color: white;
    height: 400px;
    background-color: #57595a;
}

.answerButton {
    width: 100%;
    height: 100%;
    background-color: #464449;
}