@import '~antd/dist/antd.css';

body{
    background-color: black;
}

.whatshowsintheconsole{
    color:orangered;
    font-size:32px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: "Courier";
    font-weight: bold;
}

.questionCard {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.question {
    overflow: auto;
    max-height: 400px;
    background-color: #57595a;
}

.answerButton {
    color: red;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #464449;
}

.CodeMirror {
    height: inherit
}
